@import url("../../style.css");
@import url("responsividade.css");

body {
    background-image: url("../../assets/Sobre/fundo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#cor_equipe {
    background-color: var(--cor-sobre-nossa-equipe);
    width: 201px;
    height: 100%;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
}

#nossa_equipe {
    font-family: var(--fonte-primaria);
    text-transform: uppercase;
    font-size: 4.375rem;
    font-weight: 900;
    color: var(--setery-color);

    transform: rotate(-90deg);
    white-space: nowrap;
}