/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte global */
body, main {
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

/* Main */
main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
    padding: 5rem 2rem 9.375rem 2rem;
}

/* Container */
.container {
    display: flex;
    justify-content: space-between;
    padding-left: 9.5625rem;
    flex-wrap: wrap;
    width: 100%;
}

/* Vídeo */
.video-apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.video-apresentacao .titulo {
    font-size: 2.8rem;
    color: var(--cor-titulo);
    margin-bottom: 3rem;
    text-align: center;
}

.video-apresentacao .descricao {
    font-size: 1.2rem;
    color: var(--cor-parafrafo);
    margin-bottom: 1rem;
    margin-top: 2%;
    text-align: center;
}

.aula {
    width: 100%;
    aspect-ratio: 17/10;
    border-radius: 1rem;
    border: .1875rem solid var(--border-video);
}

/* Botões */
.botoes {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.5rem;
    width: 30%;
    margin-bottom: 5.5%;
    margin-right: 4.5%;
}

.btn {
    padding: .875rem 0;
    width: 65%;
    font-size: 1.4rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    border-radius: .625rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.continuar {
    color: var(--setery-color);
    background-color: var(--cor-titulo);
    border: none;
}

.ebook {
    color: var(--cor-titulo);
    border: .1875rem solid var(--cor-titulo);
}

.download {
    margin-left: .75rem;
}
