html, body {
    margin: 0;
    padding: 0;
}

.login-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;  

    min-height: 100vh;
    width: 100vw;
    
    font-family: var(--fonte-secundaria);
    color: var(--cor-primaria);
}


/* Login Box */

.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 41px;
    margin-bottom: 53px;
    padding: 0 2.3125rem;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 0.325rem black;
}

.logo_login {
    margin: 2.3125rem 0 1.75rem 0;
}

/* Campos de input */

.identificacao {
    width: 100%;
    padding: .8125rem 13rem .8125rem 4rem;
    margin-bottom: .9375rem;
    font-size: 1.3rem;
    color: var(--teciary-color);
    border: .1875rem solid var(--secondary-color);
    border-radius: 0.7rem;
    background-image: url(/assets/LoginSvgGeral/Reutilizaveis/usuario.svg);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 4%;
}

.senha-container {
    position: relative;
    width: 100%;
}

.senha {
    width: 100%;
    padding: .8125rem 1.5625rem .8125rem 4.0625rem;
    font-size: 1.3rem;
    margin-bottom: 1.0625rem;
    color: var(--secondary-color);
    border: .1875rem solid var(--secondary-color);
    border-radius: 0.7rem;
    background-image: url(/assets/LoginSvgGeral/Reutilizaveis/senha.svg);
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-position: 5% center;
}

.toggle-senha {
    position: absolute;
    top: 50%;
    right: .625rem;
    transform: translateY(-50%);
    width: 2.1875rem;
    height: 2.1875rem;
}

/* Botão principal */

.botao {
    width: 100%;
    padding: .9375rem 14rem;
    margin-bottom: 1.0625rem;
    font-size: 1.4rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    color: var(--primary-color);
    border: none;
    border-radius: 0.7rem;
    background-color: var(--secondary-color);
    opacity: 0.7;
    cursor: pointer;
    background-image: url(/assets/LoginSvgGeral/Reutilizaveis/unlock.svg);
    background-repeat: no-repeat;
    background-size: 1.8rem;
    background-position: 36%;
}

/* Links e textos adicionais */

.esqueci {
    font-size: 1rem;
    font-weight: 700;
    color: var(--secondary-color);
    cursor: pointer;
    margin-bottom: 2.0625rem;
}

.linha {
    width: 25.8125rem;
    height: 0.1rem;
    background-color: var(--linha-color);
    margin-bottom: 1.3125rem;
}

.Autenticar {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--teciary-color);
    margin-bottom: .9375rem;
}

/* Botão Google */

.google {
    padding: .9375rem 11.5rem;
    font-size: 1rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    color: var(--quaternary-color);
    border: none;
    border-radius: 0.7rem;
    background-color: var(--primary-color);
    cursor: pointer;
    box-shadow: 0rem 0rem 0.325rem var(--quaternary-color);
    background-image: url(/assets/LoginSvgGeral/Reutilizaveis/google.svg);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 3%;
    margin-bottom: 5rem;
}
