main {
    display: flex;
    align-items: center;
    font-family: var(--fonte-primaria);
    padding: 55px 192px 0 153px;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    color: var(--cor-titulo);
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 55px;
}

.paragrafo {
    color: var(--cor-parafrafo);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
}

.aula {
    width: 634px;
    height: 344px;
    border-radius: 15px;
    border: 3px solid var(--border-video);
}

p {
    color: var(--cor-parafrafo);
    font-weight: 400;
    font-size: 16px;
}
