/* Main */

main {
    display: flex;
    width: 100%;
    padding: 5.5rem 12rem 9.375rem 9.5625rem;
    align-items: center;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

/* Container */

.container {
    display: flex;
    width: 95%;
    justify-content: space-between;
}

/* Vídeo */

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
}

.aula {
    width: 55rem;
    height: 30rem;
    border-radius: .9375rem;
    border: .1875rem solid var(--border-video);
}

/* Títulos e texto */

.titulo {
    font-size: 2.25rem;
    color: var(--cor-titulo);
    margin-bottom: 3.4375rem;
}

.paragrafo,
p {
    font-size: 1rem;
    color: var(--cor-parafrafo);
    margin-bottom: .9375rem;
}

/* Botões */

.botao {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 17.25rem;
}

.continuar {
    padding: .875rem 0;
    margin-bottom: 1.625rem;
    font-size: 1.125rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    color: var(--setery-color);
    background-color: var(--cor-titulo);
    border: none;
    border-radius: .625rem;
}

.ebook {
    padding: .875rem 0;
    font-size: 1.125rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    color: var(--cor-titulo);
    border: .1875rem solid var(--cor-titulo);
    border-radius: .625rem;
}

.download {
    margin-left: .75rem;
}
