main {
    display: flex;
    align-items: center;
    font-family: var(--fonte-primaria);
    padding: 5.5rem 12rem 9.375rem 9.5625rem;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between; 
    width: 95%;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
}

.titulo {
    color: var(--cor-titulo);
    font-weight: 400;
    font-size: 2.25rem;
    margin-bottom: 3.4375rem;
}

.paragrafo {
    color: var(--cor-parafrafo);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
}

.aula {
    width: 55rem;
    height: 30rem;
    border-radius: .9375rem;
    border: .1875rem solid var(--border-video);
}

p {
    color: var(--cor-parafrafo);
    font-weight: 400;
    font-size: 16px;
}

/* Botões */

.botao {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 17.25rem;
}

.continuar {
    padding: 14px 0;
    margin-bottom: 26px;
    color: var(--setery-color);
    background-color: var(--cor-titulo);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
}

.ebook {
    padding: 14px 0;
    font-weight: 700;
    color: var(--cor-titulo);
    border: 3px solid var(--cor-titulo);
    border-radius: 10px;
    font-size: 18px;
}