.main-principal {
    padding: 2.7rem 5rem 4rem 5rem;
    font-family: var(--fonte-secundaria);
}

.div-principal {
    background-color: var(--setery-color);
    box-shadow: 0rem 0rem 0.425rem var(--tertiary-color);
    width: 100%;
    height: 40rem;
    border-radius: 15px;
    margin-bottom: 6.5rem;
}

.div-secundario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--setery-color);
    box-shadow: 0rem 0rem 0.325rem var(--tertiary-color);
    width: 100%;
    border-radius: 15px;
    margin-bottom: 3rem;
    padding: 90px 45px 90px 45px;
    font-family: var(--fonte-secundaria);
    font-weight: 700;
}

.div-secundario.final {
    margin-bottom: 128px;
}

.bloco_img {
    margin-right: 42px;
    width: 28%;
    height: 100%;
}

.img_pag {
    width: 100%;
    height: 100%;
}

.informacoes {
    display: flex;
    flex-direction: column;
    width: 72%;
}

.titulo {
    font-size: 1.9rem;
    margin-bottom: 2.9rem;
    color: var(--teciary-color);
}

.paragrafo {
    color: var(--cor-pg-inicial);
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2.8rem;
    line-height: 2.3rem;
    justify-content: justify;
}

.botao {
    width: 42%;
    color: var(--primary-color);
    font-size: 1.7rem;
    background-color: var(--secondary-color);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 1rem 0;
}

.botao:hover {
    background-color: var(--secondary-color);
    opacity: 0.7;
}