.main-principal {
    padding: 3rem 5%;
    font-family: var(--fonte-secundaria);
}

.div-principal {
    background-color: var(--setery-color);
    box-shadow: 0 0 0.425rem var(--tertiary-color);
    width: 100%;
    height: 40rem;
    border-radius: 15px;
    margin-bottom: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-principal h1 {
    font-size: 3rem;
    color: var(--primary-color);
}

.div-secundario {
    display: flex;
    align-items: center;
    gap: 2.625rem;
    background-color: var(--setery-color);
    box-shadow: 0 0 0.325rem var(--tertiary-color);
    width: 100%;
    border-radius: 15px;
    margin-bottom: 3rem;
    padding: 5.625rem 2.8125rem;
}

.div-secundario.final {
    margin-bottom: 8rem;
}

.bloco_img {
    flex-shrink: 0;
    width: 28%;
}

.img_pag {
    width: 100%;
    height: auto;
    display: block;
}

.informacoes {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.titulo {
    font-size: 1.9rem;
    margin-bottom: 1.8rem;
    color: var(--teciary-color);
}

.paragrafo {
    color: var(--cor-pg-inicial);
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.8rem;
    line-height: 2.3rem;
    text-align: justify;
}

.botao {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 45%;
    padding: 1rem 0;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--secondary-color);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity 0.3s ease;
}

.botao:hover {
    opacity: 0.7;
}