main {
    display: flex;
    flex-direction: column;

    padding: 2.88rem 13.38rem 2.38rem 13.38rem;

    font-family: var(--fonte-secundaria);
}

.h2_texto {
    display: flex;
    justify-content: center;
    font-size: 2.1rem;
    font-weight: 400;
    color: var(--teciary-color);
}

.divisao_geral {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.div_livros {
    display: flex;
    flex-direction: column;
}

.div_4 {
    margin-right: 4.81rem;
}

.conteudos {
    display: flex;
    flex-direction: row;

    margin-top: 2.5rem;
    padding: 1rem 3.75rem 0.94rem 0.94rem;

    border-radius: 8px;
    box-shadow: 0 0 0.325rem var(--tertiary-color);
}

.conteudos_livro {
    display: flex;
    align-items: center;
    margin-left: 0.88rem;

    font-size: 1.3rem;
    font-weight: 400;
    color: var(--cor-conteudo-referencias);
}

.livros_img {
    width: 25%;
}