:root {
    --primary-color: #F9FFF9;
    --secondary-color: #2F735E;
    --teciary-color: #03422F;
    --quaternary-color: #5D5D5D;

    --fonte-primaria: 'Nunito', arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: "Nunito", arial, sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    background-image: url(/assets/ComunsReutilizaveis/Header_Fundo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor-primaria);
    padding: 1% 0 4% 0;
    height: 100%;
}

.cabecalho {
    width: 100%;
    height: 100%;
}

.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    box-shadow: 0rem 0rem 0.325rem black;
    border-radius: 1rem;
    padding: 7% 2.7% 7% 2.7%;
}

.identificacao {
    font-size: 1.3rem;
    color: var(--teciary-color);
    margin-bottom: 20px;
    padding: 13px 13rem 13px 4rem;
    border: 3px solid var(--secondary-color);
    border-radius: 0.7rem;
    background-image: url(/assets/LoginSvgGeral/Reutilizaveis/usuario.svg);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 4%;
}

.senha {
    position: relative;
    font-size: 1.3rem;
    color: var(--secondary-color);
    margin-bottom: 20px;
    padding: 13px 13rem 13px 4rem;
    border: 3px solid var(--secondary-color);
    border-radius: 0.7rem;
    background-image: url(/assets/LoginSvgGeral/Reutilizaveis/senha.svg);
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-position: 5%, 92%;
}

.toggle-senha {
  position: absolute;
  top: 40%;
  left: 60.2%;
  font-size: 1.2rem;
  transform: translateY(9%);
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.botao {
    font-size: 1.4rem;
    padding: 15px 14rem;
    border: none;
    border-radius: 0.7rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    background-image: url(/assets/LoginSvgGeral/Reutilizaveis/unlock.svg);
    background-repeat: no-repeat;
    background-size: 1.8rem;
    background-position: 36%;
}

.esqueci {
    margin-top: 25px;
    font-size: 1.2rem;
    color: var(--secondary-color);
    cursor: pointer;
}

.ou {
    margin-top: 25px;
    font-size: 1.5rem;
    color: var(--teciary-color);
}

.google {
    margin-top: 35px;
    font-size: 1.2rem;
    font-family: var(--fonte-primaria);
    padding: 15px 11.5rem;
    border: none;
    border-radius: 0.7rem;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    cursor: pointer;
    box-shadow: 0rem 0rem 0.325rem var(--quaternary-color);
    background-image: url(/assets/LoginSvgGeral/Reutilizaveis/google.svg);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 3%;
}

.logo {
    width: 14%;
    margin: 0% 0 0 3%;
}