.header_div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0% 29%;
    width: 100%;
    color: var(--primary-color);
    font-size: 0.7rem;   
}

.inicio {
    opacity: 0.7;
}

.sobre {
    opacity: 0.7;
}