/* Main */

main {
    padding: 2.75rem 6.25rem 4.75rem 6.25rem;
    font-family: var(--fonte-secundaria);
}

/* Títulos */

.titulo {
    font-size: 2.1875rem;
    font-weight: 700;
    color: var(--tertiary-color);
    opacity: 1;
}

h2 {
    padding-top: 2.5rem;
    padding-bottom: .9375rem;
    font-size: 1.375rem;
    font-weight: 700;
    color: var(--teciary-color);
}

h3 {
    padding-bottom: .9375rem;
    font-size: 1.375rem;
    font-weight: 400;
    color: var(--teciary-color);
}

h4 {
    padding-bottom: 2.5rem;
    font-size: 1.375rem;
    font-weight: 400;
    color: var(--tertiary-color);
}

/* Linhas / separadores */

.linha {
    width: 100%;
    border: .0625rem solid var(--linha-color);
}

.linha-top {
    width: 100%;
    margin-top: 1.25rem;
    border: .0625rem solid var(--teciary-color);
}

/* Margens extras */

.medi-top {
    margin-top: 1.5625rem;
}

.aproxi {
    margin-bottom: -1.5625rem;
}

.aproxi2 {
    margin-bottom: 1.5625rem;
}

/* Alterando cor / peso da fonte */

.alterandoCor {
    font-weight: 400;
}
