* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
    padding: 3rem 5rem 9.38rem 5rem;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.video-apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    width: 100%;
    max-width: 50rem;
    margin-right: 16%;
    flex: 1 1 31.25rem;
}

.video-apresentacao .titulo {
    margin-bottom: 4rem;
    font-size: 3rem;
    text-align: center;
    color: var(--cor-titulo);
}

.video-apresentacao .descricao {
    margin-bottom: 1.1rem;
    margin-top: 1rem;
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--cor-parafrafo);
}

.aula {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: 3px solid var(--border-video);
    border-radius: 1rem;
}

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    max-width: 26.25rem;
    flex: 1 1 18.75rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 25rem;
    padding: 0.88rem 0;
    font-size: 1.4rem;
    font-family: var(--fonte-primaria, sans-serif);
    font-weight: 400;
    border-radius: 0.63rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.btn:hover {
    transform: scale(1.03);
}

.continuar {
    margin-bottom: 0.7rem;
    border: none;
    text-transform: uppercase;
    color: var(--setery-color);
    background-color: var(--cor-titulo);
}

.ebook {
    border: 3px solid var(--cor-titulo);
    color: var(--cor-titulo);
    background-color: transparent;
}

.download {
    margin-left: 0.75rem;
}