main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2.88rem 11.56rem 3.38rem 11.56rem;

    font-family: var(--fonte-secundaria);
    font-weight: 400;
    color: var(--teciary-color);
}

.h1_saiba_mais {
    font-size: 1.8rem;
}

.div_saiba_mais_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div_saiba_mais {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2.88rem;
    padding: 0.69rem 4.44rem 1.19rem 4.44rem;

    border-radius: 15px;
    border: 3px solid var(--border-saiba-mais);

    background-color: var(--setery-color);
}

.h2_saiba_mais {
    margin: 0 0 0.38rem 0;

    font-size: 1.31rem;
    color: var(--secondary-color);
}

.icone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.icone_h1 {
    display: block;
    margin: 0;
    padding: 0;
}

.p_saiba_mais {
    margin-bottom: 1rem;

    font-size: 1.31rem;
    color: var(--teciary-color);
}

.a_saiba_mais {
    padding: 0.38rem 1.56rem;

    border-radius: 7px;

    text-decoration: none;
    color: var(--primary-color);

    background-color: var(--secondary-color);
    cursor: pointer;
}
